.controls {
  display: flex;
  gap: 10px;

  &__btn {
    display: inline-block;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: var(--main-color);
    border: 1px solid var(--main-color);
    box-sizing: border-box;
    border-radius: 4px;
    padding: 12px 29px;
    position: relative;
    overflow: hidden;
    height: 39px;
    transition-duration: 0.3s;
    cursor: pointer;
    text-decoration: none;

    &--active {
      background-color: var(--main-color);
      color: #fff;
    }
  }
}
